p {background: pink}
p {color: blueviolet}
h1 {background: blueviolet}
h1 {color: pink}
BODY { background: #2aad9d; padding: 20px;}

#introduction h2 { font-style: italic;}
#introduction p { font-size: 120%;}

#house {
    position: center;
    width:
    border-radius:

}